body {
  background-color: #184240;
  color: #c9d1c1;
  font-family: 'Lato', sans-serif;
}

code {
  background: #c9d1c1;
  color: #184240;
  padding: 0 0.2em;
}

h2 {
  color: #cb862b;
}
pre {
  background: #c9d1c1;
  border: 1px solid #ddd;
  border-left: 6px solid #cb862b;
  color: #184240;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}
